server:
  port: 8080

spring:
  application:
    name: commodity-monitor
  
  datasource:
    url: jdbc:postgresql://localhost:5432/commodity_monitor_db
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

jwt:
  secret: ${JWT_SECRET:secretKeyForDevelopmentOnlyValueMustBeLongerThan256Bits}
  expiration: 86400000 # 24h in milliseconds

logging:
  level:
    root: INFO
    com.ghana.commoditymonitor: INFO
